<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
	section{
		margin-bottom: 10px
	}
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	.stats, .bug{
		font-size: 18pt;
	}
	ol{
		list-style: none;
		width : 400px;
	}
	li {
		border : 1px solid gray;
		padding: 10px;
		background-color: #e7e7e7;
		margin-bottom: 5px;
		border-radius: 5px;
	}
	</style>
	<script>
	/*
		Use Cases
		=========
		1. List bugs - done
		2. Add a new bug - done
		3. Toggle the 'closed' status of a bug - done
		4. Remove closed bugs - done
		5. Display statistics - done
		6. Search for bugs - done
		7. Sort the bugs - done
		8. Improvise the bug display - done
		9. Persist the bugs in the local storage (window.localStorage)
		10. Display 'createdAt' for each bug
		11. Persist the bugs in the server
		12. Categorize the bugs
		13. Implement authorization
		14. Testing (Unit testing and end-to-end testing - overview)
	*/
	</script>
	<script src="angular.min.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);
		bugTrackerApp.value("defaultBugName", "[Default Awesome Bug Name]");

		bugTrackerApp.factory("bugOperations", function(defaultBugName){
			return {
				create : function(bugName){
					return {
						name : bugName || defaultBugName,
						isClosed : false
					};
				},
				toggle : function(bug){
					bug.isClosed = !bug.isClosed
				}
			}
		});

		bugTrackerApp.controller("bugsController", function($scope, bugOperations){
			$scope.bugs = [
				{name : "Data validation failure", isClosed : false},
				{name : "User authentication erratic", isClosed : true},
				{name : "Server communication not dependable", isClosed : false}
			];
			$scope.addNew = function(newBugName){
				var newBug = bugOperations.create(newBugName);
				$scope.bugs.push(newBug);
			};
			$scope.toggleBug = function(bug){
				bugOperations.toggle(bug);
			};
			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			};
			$scope.getClosedCount = function(){
				var closedCount = 0;
				for(var i=0; i<$scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++closedCount;
				return closedCount;
			}
		});

		bugTrackerApp.value("defaultTrimLength", 30);
		bugTrackerApp.filter("trimText", function(defaultTrimLength){
			return function(data, trimLength){ 
				trimLength  = trimLength || defaultTrimLength;
				return data.length < trimLength ? data : data.substr(0,trimLength) + '...';
			};
		});
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{getClosedCount()}}</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<select ng-model="sortBug">
				<option value="name">Name</option>
				<option value="isClosed">Status</option>
			</select>
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="sortBugByDescending">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add New" ng-click="addNew(newBug)">
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
			<ol>
				<li ng-repeat="bug in (bugs | filter:searchBug | orderBy:sortBug:sortBugByDescending)">
					<span class="bug" ng-click="toggleBug(bug)" ng-class="{closed : bug.isClosed}">
						{{bug.name | trimText:25}}
					</span>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>