<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
	section{
		margin-bottom: 10px
	}
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	.stats, .bug{
		font-size: 18pt;
	}
	ol{
		list-style: none;
		width : 400px;
	}
	li {
		border : 1px solid gray;
		padding: 10px;
		background-color: #e7e7e7;
		margin-bottom: 5px;
		border-radius: 5px;
	}
	</style>
	<script>
	/*
		Use Cases
		=========
		1. List bugs - done
		2. Add a new bug - done
		3. Toggle the 'closed' status of a bug - done
		4. Remove closed bugs
		5. Display statistics
		6. Search for bugs
		7. Sort the bugs
		8. Improvise the bug display
		9. Persist the bugs in the local storage (window.localStorage)
		10. Display 'createdAt' for each bug
		11. Persist the bugs in the server
		12. Categorize the bugs
		13. Implement authorization
		14. Testing (Unit testing and end-to-end testing - overview)
	*/
	</script>
	<script src="angular.min.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);
		bugTrackerApp.controller("bugsController", function($scope){
			$scope.bugs = [
				{name : "Data validation failure", isClosed : false},
				{name : "User authentication erratic", isClosed : true},
				{name : "Server communication not dependable", isClosed : false}
			];
			$scope.addNew = function(newBugName){
				var newBug = {
					name : newBugName,
					isClosed : false
				};
				$scope.bugs.push(newBug);
			};
			$scope.toggleBug = function(bug){
				bug.isClosed = !bug.isClosed;
			};
		});
	</script>
	

</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">2</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text">
			<label for="">Clsoed ? :</label>
			<input type="checkbox">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text">
			<label for="">Descending ? :</label>
			<input type="checkbox">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add New" ng-click="addNew(newBug)">
			<input type="button" value="Remove Closed">
			<ol>
				<li ng-repeat="bug in bugs track by $index">
					<span class="bug" ng-click="toggleBug(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</span>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>